# Práca s JSON súborom

## Načítanie z JSON súboru

In [1]:
import json

### JSON súbor s 1 objektom

In [2]:
json_file = '/Users/educa/Documents/STUDY/GOPAS/subory/DATA/ex_dict.js'

In [99]:
# json.load() slúži na načítanie JSON súboru do dictionary / zoznam dictionaries
with open(json_file) as f:
    data1 = json.load(f)

In [4]:
data1.__class__

dict

Obsah json súboru sa načítal do premennej data1. Keďže obsahoval len jeden objekt, je to dictionary

In [5]:
# len() vráti počet párov kľúč-hodnota
len(data1)

22

In [6]:
data1

{'_id': '57167615f97e5180827e6888',
 'index': 0,
 'guid': '4dc5086c-5e50-4b55-bfe6-0f11c447f1c5',
 'isActive': True,
 'balance': '$1,974.79',
 'picture': 'http://placehold.it/32x32',
 'age': 28,
 'eyeColor': 'green',
 'name': {'first': 'Cooke', 'last': 'Anthony'},
 'company': 'PETIGEMS',
 'email': 'cooke.anthony@petigems.us',
 'phone': '+1 (874) 415-3610',
 'address': '393 McKinley Avenue, Bentley, Ohio, 1883',
 'about': 'Quis incididunt dolor aliquip amet anim laborum nulla pariatur laborum. Irure laboris excepteur incididunt non do sunt anim laborum esse. Eiusmod dolore nisi occaecat culpa exercitation ut fugiat et. Sunt ad ex minim qui voluptate aute sunt aliqua aute irure voluptate sint eiusmod anim. Consequat pariatur excepteur ut cupidatat culpa irure occaecat dolor aliqua occaecat amet deserunt. Exercitation pariatur sint enim cillum Lorem consequat pariatur minim proident mollit. Ullamco qui in enim Lorem ea.',
 'registered': 'Friday, July 11, 2014 5:42 AM',
 'latitude': '-82.711132',
 'longitude': '51.76318',
 'tags': [7, 'ut'],
 'range': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 'friends': [3, {'id': 1, 'name': 'Carmela Joyce'}],
 'greeting': 'Hello, Cooke! You have 6 unread messages.',
 'favoriteFruit': 'banana'}

In [7]:
data1['age']

28

In [8]:
data1['age'].__class__

int

In [10]:
data1['name']

{'first': 'Cooke', 'last': 'Anthony'}

In [11]:
data1['name'].__class__

dict

In [13]:
data1['name']['first']

'Cooke'

### JSON súbor s poľom objektov

In [14]:
json_file2 = '/Users/educa/Documents/STUDY/GOPAS/subory/DATA/ex_arr.js'

In [98]:
with open(json_file2) as f:
    data2 = json.load(f)

In [97]:
datax.__class__

list

In [16]:
data2.__class__

list

Obsah json súboru sa načítal do premennej data. Keďže obsahoval pole objektov, je to list dictionaries.

In [17]:
# len() vráti počet objektov v zozname
len(data2)

5

In [18]:
data2[0].__class__

dict

In [19]:
# Prvý objekt zo súboru - data2[0] == data1
data2[0]

{'_id': '57167615f97e5180827e6888',
 'index': 0,
 'guid': '4dc5086c-5e50-4b55-bfe6-0f11c447f1c5',
 'isActive': True,
 'balance': '$1,974.79',
 'picture': 'http://placehold.it/32x32',
 'age': 28,
 'eyeColor': 'green',
 'name': {'first': 'Cooke', 'last': 'Anthony'},
 'company': 'PETIGEMS',
 'email': 'cooke.anthony@petigems.us',
 'phone': '+1 (874) 415-3610',
 'address': '393 McKinley Avenue, Bentley, Ohio, 1883',
 'about': 'Quis incididunt dolor aliquip amet anim laborum nulla pariatur laborum. Irure laboris excepteur incididunt non do sunt anim laborum esse. Eiusmod dolore nisi occaecat culpa exercitation ut fugiat et. Sunt ad ex minim qui voluptate aute sunt aliqua aute irure voluptate sint eiusmod anim. Consequat pariatur excepteur ut cupidatat culpa irure occaecat dolor aliqua occaecat amet deserunt. Exercitation pariatur sint enim cillum Lorem consequat pariatur minim proident mollit. Ullamco qui in enim Lorem ea.',
 'registered': 'Friday, July 11, 2014 5:42 AM',
 'latitude': '-82.711132',
 'longitude': '51.76318',
 'tags': [7, 'ut'],
 'range': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 'friends': [3, {'id': 1, 'name': 'Carmela Joyce'}],
 'greeting': 'Hello, Cooke! You have 6 unread messages.',
 'favoriteFruit': 'banana'}

In [20]:
data2[0]['age']

28

In [21]:
data2[0]['age'].__class__

int

In [22]:
data2[0]['name']

{'first': 'Cooke', 'last': 'Anthony'}

In [23]:
data2[0]['name'].__class__

dict

## Príkaz pprint pre zobrazenie obsahu slovníka

"Krajšie" zobrazenie obsahu dictionary je cez príkaz pprint z modulu pprint:
- automatické formátovanie
- odsadenie
- zalomenie riadkov

In [24]:
from pprint import pprint

In [26]:
# jeden záznam, t.j. data1 alebo data2[x]
zaznam1 = data1
zaznam2 = data2[3]

In [27]:
pprint(zaznam1)

{'_id': '57167615f97e5180827e6888',
 'about': 'Quis incididunt dolor aliquip amet anim laborum nulla pariatur '
          'laborum. Irure laboris excepteur incididunt non do sunt anim '
          'laborum esse. Eiusmod dolore nisi occaecat culpa exercitation ut '
          'fugiat et. Sunt ad ex minim qui voluptate aute sunt aliqua aute '
          'irure voluptate sint eiusmod anim. Consequat pariatur excepteur ut '
          'cupidatat culpa irure occaecat dolor aliqua occaecat amet deserunt. '
          'Exercitation pariatur sint enim cillum Lorem consequat pariatur '
          'minim proident mollit. Ullamco qui in enim Lorem ea.',
 'address': '393 McKinley Avenue, Bentley, Ohio, 1883',
 'age': 28,
 'balance': '$1,974.79',
 'company': 'PETIGEMS',
 'email': 'cooke.anthony@petigems.us',
 'eyeColor': 'green',
 'favoriteFruit': 'banana',
 'friends': [3, {'id': 1, 'name': 'Carmela Joyce'}],
 'greeting': 'Hello, Cooke! You have 6 unread messages.',
 'guid': '4dc5086c-5e50-4b55-bfe6-0f11c447f1c5',
 'index': 0,
 'isActive': True,
 'latitude': '-82.711132',
 'longitude': '51.76318',
 'name': {'first': 'Cooke', 'last': 'Anthony'},
 'phone': '+1 (874) 415-3610',
 'picture': 'http://placehold.it/32x32',
 'range': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 'registered': 'Friday, July 11, 2014 5:42 AM',
 'tags': [7, 'ut']}

In [28]:
pprint(zaznam2)

{'_id': '5716761571e49ccd8d5453f4',
 'about': 'Mollit fugiat aliquip dolor Lorem elit officia Lorem amet eu irure '
          'veniam. Consequat dolore sunt magna enim velit aliquip esse '
          'consectetur cupidatat consequat. Lorem enim fugiat elit sunt nisi '
          'proident ad. Voluptate voluptate nisi elit fugiat non excepteur '
          'culpa eiusmod. Nostrud elit ex culpa magna ea enim laboris ullamco '
          'elit.',
 'address': '600 Beverly Road, Ahwahnee, Massachusetts, 2913',
 'age': 23,
 'balance': '$1,532.88',
 'company': 'XYLAR',
 'email': 'thompson.diaz@xylar.me',
 'eyeColor': 'brown',
 'favoriteFruit': 'banana',
 'friends': [3, {'id': 1, 'name': 'Carmela Joyce'}],
 'greeting': 'Hello, Thompson! You have 7 unread messages.',
 'guid': '75a33442-a20b-4966-8b89-bfd589044f83',
 'index': 3,
 'isActive': False,
 'latitude': '-69.168539',
 'longitude': '40.250853',
 'name': {'first': 'Thompson', 'last': 'Diaz'},
 'phone': '+1 (878) 493-2215',
 'picture': 'http://placehold.it/32x32',
 'range': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 'registered': 'Wednesday, February 5, 2014 4:03 AM',
 'tags': [7, 'ut']}

## Konverzia do pandas.DataFrame

údaje zo súboru sa načítali do slovníka / listu, pre ďalšie spracovanie je vhodné konvertovať  z listu do DataFrame

In [36]:
import pandas as pd

In [37]:
# Konverzia listu je cez konštruktor triedy DataFrame
pd.DataFrame(data2)

,_id,index,guid,isActive,balance,picture,age,eyeColor,name,company,...,address,about,registered,latitude,longitude,tags,range,friends,greeting,favoriteFruit
0,57167615f97e5180827e6888,0,4dc5086c-5e50-4b55-bfe6-0f11c447f1c5,True,"$1,974.79",http://placehold.it/32x32,28,green,"{'first': 'Cooke', 'last': 'Anthony'}",PETIGEMS,...,"393 McKinley Avenue, Bentley, Ohio, 1883",Quis incididunt dolor aliquip amet anim laboru...,"Friday, July 11, 2014 5:42 AM",-82.711132,51.76318,"[7, ut]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3, {'id': 1, 'name': 'Carmela Joyce'}]","Hello, Cooke! You have 6 unread messages.",banana
1,57167615d57f6e9e99ec9613,1,743d5be3-70a2-461c-905f-4a1101efd6fc,False,"$3,301.24",http://placehold.it/32x32,33,blue,"{'first': 'Chase', 'last': 'Oliver'}",SUNCLIPSE,...,"484 Livonia Avenue, Dorneyville, Northern Mari...",Ea velit ut tempor quis Lorem. Ea enim quis vo...,"Thursday, April 2, 2015 6:23 PM",26.65076,-71.756284,"[7, ut]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3, {'id': 1, 'name': 'Carmela Joyce'}]","Hello, Chase! You have 9 unread messages.",apple
2,5716761502d6c8ff790ec281,2,bd68ae58-062e-4227-91a7-dd325fcd52e1,True,"$1,119.34",http://placehold.it/32x32,35,blue,"{'first': 'Ophelia', 'last': 'Caldwell'}",ROOFORIA,...,"645 Perry Terrace, Lydia, Washington, 5904",Velit mollit quis quis commodo. Qui dolore lab...,"Wednesday, August 6, 2014 10:02 PM",-26.87859,-59.797392,"[7, ut]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3, {'id': 1, 'name': 'Carmela Joyce'}]","Hello, Ophelia! You have 5 unread messages.",banana
3,5716761571e49ccd8d5453f4,3,75a33442-a20b-4966-8b89-bfd589044f83,False,"$1,532.88",http://placehold.it/32x32,23,brown,"{'first': 'Thompson', 'last': 'Diaz'}",XYLAR,...,"600 Beverly Road, Ahwahnee, Massachusetts, 2913",Mollit fugiat aliquip dolor Lorem elit officia...,"Wednesday, February 5, 2014 4:03 AM",-69.168539,40.250853,"[7, ut]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3, {'id': 1, 'name': 'Carmela Joyce'}]","Hello, Thompson! You have 7 unread messages.",banana
4,571676157943476398ab288c,4,9d2b6353-a303-41cb-b9be-4df3a5696bfb,True,"$3,434.08",http://placehold.it/32x32,38,blue,"{'first': 'Constance', 'last': 'Gallagher'}",KINETICA,...,"304 Varet Street, Stewartville, Wyoming, 8242",Est id cillum duis mollit sit. Ex laborum est ...,"Monday, December 29, 2014 4:54 PM",50.431466,-43.445881,"[7, ut]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3, {'id': 1, 'name': 'Carmela Joyce'}]","Hello, Constance! You have 8 unread messages.",apple

In [38]:
# Konverzia slovníka konštruktor triedy DataFrame takto priamočiaro nefunguje. Ale dá sa to cez zabalenie do listu
pd.DataFrame([data1])

,_id,index,guid,isActive,balance,picture,age,eyeColor,name,company,...,address,about,registered,latitude,longitude,tags,range,friends,greeting,favoriteFruit
0,57167615f97e5180827e6888,0,4dc5086c-5e50-4b55-bfe6-0f11c447f1c5,True,"$1,974.79",http://placehold.it/32x32,28,green,"{'first': 'Cooke', 'last': 'Anthony'}",PETIGEMS,...,"393 McKinley Avenue, Bentley, Ohio, 1883",Quis incididunt dolor aliquip amet anim laboru...,"Friday, July 11, 2014 5:42 AM",-82.711132,51.76318,"[7, ut]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3, {'id': 1, 'name': 'Carmela Joyce'}]","Hello, Cooke! You have 6 unread messages.",banana

### Normalizácia stĺpcov v pd.Dataframe

Pole "Name" zostalo "nerozbalené" ako dictionary.
Ak ho chceme rozdeliť na samostatné stĺpce, použijeme metódu json_normalize, ktorá taktiež konvertuje do DataFrame

In [39]:
pd.json_normalize(data2).__class__

pandas.core.frame.DataFrame

In [41]:
pd.json_normalize([data1])

,_id,index,guid,isActive,balance,picture,age,eyeColor,company,email,...,registered,latitude,longitude,tags,range,friends,greeting,favoriteFruit,name.first,name.last
0,57167615f97e5180827e6888,0,4dc5086c-5e50-4b55-bfe6-0f11c447f1c5,True,"$1,974.79",http://placehold.it/32x32,28,green,PETIGEMS,cooke.anthony@petigems.us,...,"Friday, July 11, 2014 5:42 AM",-82.711132,51.76318,"[7, ut]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3, {'id': 1, 'name': 'Carmela Joyce'}]","Hello, Cooke! You have 6 unread messages.",banana,Cooke,Anthony

In [40]:
pd.json_normalize(data2)

,_id,index,guid,isActive,balance,picture,age,eyeColor,company,email,...,registered,latitude,longitude,tags,range,friends,greeting,favoriteFruit,name.first,name.last
0,57167615f97e5180827e6888,0,4dc5086c-5e50-4b55-bfe6-0f11c447f1c5,True,"$1,974.79",http://placehold.it/32x32,28,green,PETIGEMS,cooke.anthony@petigems.us,...,"Friday, July 11, 2014 5:42 AM",-82.711132,51.76318,"[7, ut]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3, {'id': 1, 'name': 'Carmela Joyce'}]","Hello, Cooke! You have 6 unread messages.",banana,Cooke,Anthony
1,57167615d57f6e9e99ec9613,1,743d5be3-70a2-461c-905f-4a1101efd6fc,False,"$3,301.24",http://placehold.it/32x32,33,blue,SUNCLIPSE,chase.oliver@sunclipse.net,...,"Thursday, April 2, 2015 6:23 PM",26.65076,-71.756284,"[7, ut]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3, {'id': 1, 'name': 'Carmela Joyce'}]","Hello, Chase! You have 9 unread messages.",apple,Chase,Oliver
2,5716761502d6c8ff790ec281,2,bd68ae58-062e-4227-91a7-dd325fcd52e1,True,"$1,119.34",http://placehold.it/32x32,35,blue,ROOFORIA,ophelia.caldwell@rooforia.info,...,"Wednesday, August 6, 2014 10:02 PM",-26.87859,-59.797392,"[7, ut]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3, {'id': 1, 'name': 'Carmela Joyce'}]","Hello, Ophelia! You have 5 unread messages.",banana,Ophelia,Caldwell
3,5716761571e49ccd8d5453f4,3,75a33442-a20b-4966-8b89-bfd589044f83,False,"$1,532.88",http://placehold.it/32x32,23,brown,XYLAR,thompson.diaz@xylar.me,...,"Wednesday, February 5, 2014 4:03 AM",-69.168539,40.250853,"[7, ut]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3, {'id': 1, 'name': 'Carmela Joyce'}]","Hello, Thompson! You have 7 unread messages.",banana,Thompson,Diaz
4,571676157943476398ab288c,4,9d2b6353-a303-41cb-b9be-4df3a5696bfb,True,"$3,434.08",http://placehold.it/32x32,38,blue,KINETICA,constance.gallagher@kinetica.tv,...,"Monday, December 29, 2014 4:54 PM",50.431466,-43.445881,"[7, ut]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3, {'id': 1, 'name': 'Carmela Joyce'}]","Hello, Constance! You have 8 unread messages.",apple,Constance,Gallagher

Takáto normalizácia má však "chybu krásy". Stlpec "name" rozbalí do 2 stĺpcov: "name.first" a "name.last" spojených bodkou. Pri referencovaní potom nemožno použiť bodkovú notáciu. Preto je lepšie namiesto defaultnej bodky použiť _

In [43]:
pd.json_normalize([data1], sep='_')

,_id,index,guid,isActive,balance,picture,age,eyeColor,company,email,...,registered,latitude,longitude,tags,range,friends,greeting,favoriteFruit,name_first,name_last
0,57167615f97e5180827e6888,0,4dc5086c-5e50-4b55-bfe6-0f11c447f1c5,True,"$1,974.79",http://placehold.it/32x32,28,green,PETIGEMS,cooke.anthony@petigems.us,...,"Friday, July 11, 2014 5:42 AM",-82.711132,51.76318,"[7, ut]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3, {'id': 1, 'name': 'Carmela Joyce'}]","Hello, Cooke! You have 6 unread messages.",banana,Cooke,Anthony

In [42]:
pd.json_normalize(data2, sep='_')

,_id,index,guid,isActive,balance,picture,age,eyeColor,company,email,...,registered,latitude,longitude,tags,range,friends,greeting,favoriteFruit,name_first,name_last
0,57167615f97e5180827e6888,0,4dc5086c-5e50-4b55-bfe6-0f11c447f1c5,True,"$1,974.79",http://placehold.it/32x32,28,green,PETIGEMS,cooke.anthony@petigems.us,...,"Friday, July 11, 2014 5:42 AM",-82.711132,51.76318,"[7, ut]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3, {'id': 1, 'name': 'Carmela Joyce'}]","Hello, Cooke! You have 6 unread messages.",banana,Cooke,Anthony
1,57167615d57f6e9e99ec9613,1,743d5be3-70a2-461c-905f-4a1101efd6fc,False,"$3,301.24",http://placehold.it/32x32,33,blue,SUNCLIPSE,chase.oliver@sunclipse.net,...,"Thursday, April 2, 2015 6:23 PM",26.65076,-71.756284,"[7, ut]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3, {'id': 1, 'name': 'Carmela Joyce'}]","Hello, Chase! You have 9 unread messages.",apple,Chase,Oliver
2,5716761502d6c8ff790ec281,2,bd68ae58-062e-4227-91a7-dd325fcd52e1,True,"$1,119.34",http://placehold.it/32x32,35,blue,ROOFORIA,ophelia.caldwell@rooforia.info,...,"Wednesday, August 6, 2014 10:02 PM",-26.87859,-59.797392,"[7, ut]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3, {'id': 1, 'name': 'Carmela Joyce'}]","Hello, Ophelia! You have 5 unread messages.",banana,Ophelia,Caldwell
3,5716761571e49ccd8d5453f4,3,75a33442-a20b-4966-8b89-bfd589044f83,False,"$1,532.88",http://placehold.it/32x32,23,brown,XYLAR,thompson.diaz@xylar.me,...,"Wednesday, February 5, 2014 4:03 AM",-69.168539,40.250853,"[7, ut]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3, {'id': 1, 'name': 'Carmela Joyce'}]","Hello, Thompson! You have 7 unread messages.",banana,Thompson,Diaz
4,571676157943476398ab288c,4,9d2b6353-a303-41cb-b9be-4df3a5696bfb,True,"$3,434.08",http://placehold.it/32x32,38,blue,KINETICA,constance.gallagher@kinetica.tv,...,"Monday, December 29, 2014 4:54 PM",50.431466,-43.445881,"[7, ut]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3, {'id': 1, 'name': 'Carmela Joyce'}]","Hello, Constance! You have 8 unread messages.",apple,Constance,Gallagher

Stlpec "name" sa rozbalil do 2 stĺpcov: "name_first" a "name_last".

# Úloha: Načítaj a spracuj JSON súbor

Vypíš koľko má záznamov, 
koľko údajov pre každý záznam. 
Normalizuj stlpce a zobraz ako dataframe prvý záznam
vypíš"pekne" posledný záznam ako dictionary

In [81]:
import json
import pandas as pd
from pprint import pprint

In [74]:
json_ex = '/Users/educa/Documents/STUDY/GOPAS/subory/DATA/ex.js'

In [100]:
with open(json_ex) as f:
    data_ex = json.load(f)

In [76]:
data_ex.__class__

list

In [77]:
list_no = len(data_ex)
list_no

6

In [78]:
data_ex[0].__class__

dict

In [79]:
rec_no = len(data_ex[0])
rec_no

21

In [80]:
print(f"JSON súbor {json_ex} obsahuje {list_no} záznamov. Každý záznam obsahuje {rec_no} údajov.")

JSON súbor /Users/educa/Documents/STUDY/GOPAS/subory/DATA/ex.js obsahuje 6 záznamov. Každý záznam obsahuje 21 údajov.

In [84]:
pprint(data_ex[list_no-1])

{'about': 'Talk to me. Quis incididunt dolor aliquip amet anim laborum nulla '
          'pariatur laborum. Irure laboris excepteur incididunt non do sunt '
          'anim laborum esse. Eiusmod dolore nisi occaecat culpa exercitation '
          'ut fugiat et. Sunt ad ex minim qui voluptate aute sunt aliqua aute '
          'irure voluptate sint eiusmod anim. Consequat pariatur excepteur ut '
          'cupidatat culpa irure occaecat dolor aliqua occaecat amet deserunt. '
          'Exercitation pariatur sint enim cillum Lorem consequat pariatur '
          'minim proident mollit. Ullamco qui in enim Lorem ea.',
 'address': '393 McKinley Avenue, Bentley, Ohio, 1883',
 'age': 28,
 'balance': '$1,974.79',
 'company': 'PETIGEMS',
 'email': 'cooke.anthony@petigems.us',
 'eyeColor': 'green',
 'favoriteFruit': 'banana',
 'friends': [3,
             {'id': 2, 'name': 'Pam'},
             {'id': 1, 'name': 'Carmela'},
             {'id': 1, 'name': 'Sue'}],
 'greeting': 'Hello, Cooke! You have 6 unread messages.',
 'id': '285935',
 'index': 111,
 'isActive': True,
 'latitude': '-82.711132',
 'longitude': '51.76318',
 'name': {'first': 'Cooke', 'last': 'Anthony'},
 'phone': '+1 (874) 415-3610',
 'picture': 'http://placehold.it/55x55',
 'range': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 'registered': 'Friday, July 11, 2000 5:42 AM',
 'tags': [7, 'ut']}

In [90]:
pd.json_normalize(data_ex, sep='_').head(1)

,id,index,isActive,balance,picture,age,eyeColor,company,email,phone,...,latitude,longitude,tags,range,friends,greeting,favoriteFruit,name_first,name_last,_id
0,57167615f97e5180827e6888,0,True,"$1,974.79",http://placehold.it/32x32,28,green,PETIGEMS,cooke.anthony@petigems.us,+1 (874) 415-3610,...,-82.711132,51.76318,"[7, ut]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]","[3, {'id': 1, 'name': 'Carmela Joyce'}]","Hello, Cooke! You have 6 unread messages.",banana,Cooke,Anthony,NaN